a{
  color: #FFF;
}

body{
  background: #000;
  color: #FFF;
  font-family: sans-serif;
  margin: 16px 32px 16px 32px;
}

div{
  background: #111;
  padding: 16px;
}

img{
  background-color: #FFF;
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}

pre{
  background: #222;
  margin: 0px;
  padding: 2px;
}

tt{
  background: #222;
}

ul{
  list-style-type: none;
  margin: 0px;
}
