# Ignore specific files
*TalentlessHack

# Ignore all named files
*CMakeCache.txt
*Makefile

# Ignore all named folders
**/CMakeFiles/*
**/dist/*
**/doc/*

# Ignore extensions
*.aux
*.bin
*.class
*.cmake
*.log
*.nav
*.ods
*.out
*.pdf
*.pgm
*.snm
*.swp
*.toc
*.vrb

# Vagrant
.vagrant/
