# Ignore specific files
*TalentlessHack

# Ignore all named files
*CMakeCache.txt
*Makefile

# Ignore all named folders
**/CMakeFiles/*
**/dist/*
**/doc/*

# Ignore extensions
*.bin
*.class
*.cmake
*.pdf
*.swp

# Vagrant
.vagrant/
