# Ignore specific files
*TalentlessHack

# Ignore all named files
*CMakeCache.txt
*Makefile

# Ignore all named folders
**/CMakeFiles/*
**/doc/*

# Ignore extensions
*.class
*.cmake
*.jar
*.pdf

# Vagrant
.vagrant/
