sub_1,&,&amp;
sub_1,<,&lt;
sub_1,>,&gt;
empty,<br>,
end,,,&nbsp;
begin,###### ,<h6>,</h6>
begin,##### ,<h5>,</h5>
begin,#### ,<h4>,</h4>
begin,### ,<h3>,</h3>
begin,## ,<h2>,</h2>
begin,# ,<h1>,</h1>
begin,    ,<pre>,</pre>
begin,  ,<ul><li>,</li></ul>
sub_2,__,<u>,__,</u>
sub_2,**,<b>,**,</b>
sub_2,*,<i>,*,</i>
sub_2,`,<tt>,`,</tt>
sub_3,![,<img alt=",](," src=",)," />
sub_3,[,<a name=",](," href=",),">[Link]</a>
